<% if @team %>
<h2><%= @team.name %> Team's Landscapes</h2>
<% else %>
<h2>All Landscapes:</h2>
<% end %>
<ul>

<% if @team %>
    <% @landscapes.each do |land|  %>
        <li> <%= link_to land.address, team_landscape_path(@team, land) %></li>
        
    <% end %>
<% else %>
    <% @landscapes.each do |land|  %>

        <li><%= link_to land.address, landscape_path(land) %></li>
    <% end %>
<% end %>
<ul>



